* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Barra de navegación */
a {
    text-decoration: none;
    color: black;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: white;
    padding: 25px 0px;
    border-bottom: solid 1px #f8f8f8;
}
.dark nav {
    background: #1c1c1c;
    border-bottom: #343D5B;
}
.desktop-menu li {
    display: inline-block;
}
.nav-font {
    font-size: 1.2rem;
}
.container-nav {
    width: 88%;
    margin: auto;
}
nav .desktop-menu {
    display: none;
}
.hide {
    display: none;
}
/* Switch*/
.switch {
    background-color: #343D5B;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;    
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
    background-color: #eaeaea;
    color: #000;
}
.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 24px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
}
.to-black {
    color: #343d5b;
}


/* Main */

.main-section {
    background: #f8f8f8;
    background-image: url("https://images.pexels.com/photos/270373/pexels-photo-270373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
    height: 100vh; 
    position: relative;
}

.main-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.90);
}
.main-div {
    display: flex;  
    height: 100%; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container {
    margin: auto; 
}
.resize-image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.cursor {
    display: inline-flex;
    width: 3px;
    background-color: #ccc;
    font-size: 2rem;
    margin-left: .1rem;
    animation: blink 1s infinite;
}
.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% {background-color: #ccc;}
    49% {background-color: #ccc;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #ccc;}
    
}

.dark section {
    background: #1c1c1c;
}
/* Sección de las tarjetas */
.padding-section {
    padding-top: 4%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-left: 5%;  
}
.h2-padding-bottom {
    padding-bottom: 4%;
}
.dark .h2-padding-bottom {
    color: #eaeaea;
}
.card {
    background: white;
    height: 100%;
    transform: scale(1);
    transition: all 250ms;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 5px;
}
.dark .card {
    color: #eaeaea;
}
.card:hover {
    transform: scale(1.1);
    transition: all 200ms;
}
.dark .card {
    background: #303030;
}
